.market-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.market-detail-content {
  width: 90vw;
}

.market-detail-rates {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.market-detail-ipca .market-detail-selic {
  display: flex;
  flex-direction: column;
}

.market-detail-selic {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .market-detail-content {
    width: 60vw;
  }
}

@media screen and (min-width: 60em) {
  .market-detail-content {
    width: 40vw;
  }

  .market-detail-rates {
    flex-direction: row;
  }

  .market-detail-selic {
    padding-top: 0;
  }
}
