.flash-card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 80vw;
  max-width: 400px;
  min-height: 350px;
  position: relative;
  border-radius: 15px;
  margin: 20px;
  overflow: hidden;
}

.flash-card--image {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding-bottom: 200px;
}

.flash-card--content {
  background-color: var(--light-gray);
  padding: 15px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 250px;
}
.flash-card--functions {
  padding: 20px;
  min-height: 250px;
  position: relative;
}

.flash-card--title {
  color: var(--green);
  font-weight: bold;
  font-size: 16px;
}

.flash-card--description {
  color: var(--dark-gray);
  font-size: 14px;
}

.flash-card--button {
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
}
