.flash-card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 80vw;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.flash-card--image {
  height: 250px;
  overflow: hidden;
}

.flash-card--image-style {
  max-height: 300px;
}

.flash-card--content {
  background-color: var(--light-gray);
  width: 100%;
}
.flash-card--functions {
  padding: 20px;
}

.flash-card--title {
  color: var(--green);
  font-weight: bold;
  font-size: 16px;
}

.flash-card--description {
  color: var(--dark-gray);
  font-size: 14px;
}

.flash-card--button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.flash-card--references {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  color: var(--dark-gray);
  font-size: 13px;
}

.flash-card--link {
  color: var(--green);
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 3px;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .flash-card {
    width: 60vw;
  }

  .flash-card--image {
    height: 300px;
  }

  .flash-card--image-style {
    max-height: 500px;
  }

  .flash-card--title {
    font-size: 18px;
  }

  .flash-card--description {
    font-size: 16px;
  }

  .flash-card--references {
    font-size: 15px;
  }
}

@media screen and (min-width: 60em) {
  .flash-card {
    width: 40vw;
  }

  .flash-card--image {
    height: 400px;
  }

  .flash-card--image-style {
    max-height: 600px;
  }

  .flash-card--title {
    font-size: 20px;
  }

  .flash-card--description {
    font-size: 18px;
  }

  .flash-card--references {
    font-size: 17px;
  }
}
