.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  background-color: var(--dark-gray);
}

.header-title {
  color: var(--green);
  font-weight: bold;
  font-size: 25px;
}
