.footer {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 60px;
  background-color: var(--dark-gray);
  margin-top: 40px;
}

.footer-title {
  color: var(--white);
  font-size: 10px;
  padding-left: 20px;
}
