.footer {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 60px;
  background-color: var(--dark-gray);
  position: absolute;
  bottom: 0;
  z-index: 9999;
  width: 100%;
}

.footer-title {
  color: var(--white);
  font-size: 10px;
  padding-left: 20px;
}
